.layout-wrapper {
  margin: 0 auto;
}

.rect-style {
    fill: rgba(255, 255, 255, .3);
    stroke: gray;
}

g:hover .rect-style{
    fill: rgba(255, 255, 255, .9);
    stroke: gray;
}

.group-style:hover {
    cursor: pointer;

}
